* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
}
.wrapper{
    text-align: center;
}
.logo{
    width: 100%;
    height:300px;
    display: flex;

}

.form {
    padding: 20px 15px;
    min-height: 250px;
    text-align: center;
}

input {
    display: block;
    outline: none;
    padding: 15px 10px;
    border: solid 1px transparent;
    background: none;
    color: #0a0a0a;
    width: 200px;
    transition: border-color 1s;
    margin: 0 auto;
}

input:focus {
    border-color: royalblue;
}

.form button {
    padding: 10px;
    color: white;
    background: royalblue;
    border: none;
    width: 200px;
    margin-left: 30px;
    transition: 0.2s;
    cursor: pointer;
}

.form button:hover {
    background: rgb(114, 149, 255);
}

.action {
    color: #1a1919;
    text-align: center;
    font-size: 18px;
    margin: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.load {
    position: relative;
    margin: 2px 5px;
    padding-bottom: 5px;
    border-bottom: solid 2px transparent;
    cursor: pointer;
    transition: 0.5s;
}

.load.show {
    border-bottom-color: royalblue;
    text-align: center;
}

.form a {
    color: #cb5d5d;
    text-decoration: none;
    display: block;
    margin: 15px;
    text-align: center;
    transition: 0.5s;
}

.form a:hover {
    color: royalblue;
}

.login {
    display: none;
}

.reg {
    display: none;
}

.show-page {
    display: flex;
    animation: show-page 1s;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@keyframes show-page {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.create-questionnaires {
    width: 100%;
    height: 100vh;
    padding: 100px 0;
}


.create-questionnaires .create-question {
    display: block;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 20px;
    color: #fff;
    background: cornflowerblue;
    margin: 0 auto;
    border: none;
    outline: none;
    cursor: pointer;
}

.create-questionnaires form {
    width: 80%;
    padding: 20px 0;
    margin: 0 auto;
}

.create-questionnaires #questions {
    height: 80%;
}

.create-questionnaires .form-inputs {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.create-questionnaires .form-inputs input {
    flex: 1 0 auto;
    margin: 0 10px;
}

.create-questionnaires .form-inputs label {
    width: 128px;
}

.create-questionnaires .question-wrapper {
    padding: 25px 0;
    border-bottom: 1px solid #000;
}
.save_button{

    background: #2cb12c;
    color: white;
    margin: 12px auto 0;
    border-radius: 15px;
}
.delete-button{
    cursor: pointer;
    font-size: 23px;
    color: red;
    font-weight: 700;
    transform: rotate(45deg);
}

.answers-input{
    font-size: 22px;
    padding-left: 12px;
}
.question-lead{
    font-size: 35px;
    color: currentColor;
    font-weight: 700;
}


